<h1>Anagrams</h1>
<form action="/anagrams">
  <div class="form-group">
     <label for="title">Enter words to see if they're anagrams:
     </label>
     <input id="anagrams" name="anagrams" class="form-control" type="text">
  </div>
  <hr>
  <button action="/" class="btn btn-success">Submit</button>
</form>
